# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
.env

# VS Code settings
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# ML artifacts (large files)
ml_model/*.keras
ml_model/*.h5
ml_model/results/*.png

# Node
frontend/node_modules/
frontend/dist/

# IDE
.idea/
*.swp
